[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BiocManager"]
	path = BiocManager
	url = https://github.com/bioconductor/biocmanager
	shallow = true
	registered = true
[submodule "AnnotationFilter"]
	path = AnnotationFilter
	url = https://github.com/bioconductor/annotationfilter
	shallow = true
	registered = true
[submodule "BiocCheck"]
	path = BiocCheck
	url = https://github.com/bioconductor/bioccheck
	shallow = true
	registered = true
[submodule "BiocFileCache"]
	path = BiocFileCache
	url = https://github.com/bioconductor/biocfilecache
	shallow = true
	registered = true
[submodule "BiocParallel"]
	path = BiocParallel
	url = https://github.com/bioconductor/biocparallel
	shallow = true
	registered = true
[submodule "BiocStyle"]
	path = BiocStyle
	url = https://github.com/bioconductor/biocstyle
	shallow = true
	registered = true
